*{
    margin: 2px;
    box-sizing:border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
  
}

header{
    background-color:cyan;
    height: 40px;
    line-height: 40px;;
    display: flex;
    justify-content: center;
}

.hero{
 width: 30%;
 height: 250px;
 background-color:grey;
 display:flex;
 justify-content: center;
 line-height: 250px;

}


main{
width: 70%;
height: 400px; 
background-color:yellow;
display:flex;
justify-content: center;
line-height: 400px;
}

aside{
    height: 300px;
    width: 30%;
    background-color:greenyellow;
    display:flex;
    justify-content: center;
    line-height: 300px;
}

.extracontent{
    flex-grow:3;
    width: 70%;
    height: 150px;
    background-color: #000;
    color:white;
    display:flex;
    justify-content: center;
    line-height: 150px;
    align-self:flex-end;
}

.images{
 background-color:green;
 width:75%;
 height: 100px;
 display:flex;
 justify-content: center;
 line-height: 100px;
 
}

.posts{
 background-color:purple;
 width:25%;
 height:100px;
 display:flex;
 justify-content: center;
 line-height: 100px;
}



footer{
    background-color:cyan;
    height: 40px;
    line-height: 30px;;
    justify-content: center;
    display: flex;
}


.wrapper1, .wrapper2, .wrapper3{
   display:flex;
}

.wrapper2{
    margin-top:-148px;
}
